@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    transition-duration:0.1s;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    user-select: none;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
nav{
    display: flex;
    align-self: start;
}
.navButton{
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding-top: 4px;
    border-radius: 7px;
    width: 142px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
    font-size: 17px;
}
#money{
    display: flex;
}
.buttonin{
    display:flex;
    gap:10px;
    align-items: end;
}
.display{
    /* background: radial-gradient(rgb(2, 78, 255)20%,rgb(85, 227, 255) 40%,rgb(0, 42, 159)); */
    background-color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3px;
    width: 181px;
    height: 90px;
    margin: 5px 0px;
    border: 1px solid black;
}
#generate{
    margin-top: 10px;
    border: 1px solid black;
    /* border: 1px solid rgb(190, 124, 0); */
    font-size: 15px;
    text-wrap: nowrap;
    color:white;
    background-color: gray;
    /* background: radial-gradient(rgb(204, 80, 3)20%,orange 40%,rgb(204, 80, 3)); */
    width: 300px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#generate:hover{
    background-color: rgb(99, 99, 99);
}
#generate:active{
    background-color:rgb(84, 84, 84);
}
#conversionRate{
    /* margin-left: 10px; */
    /* border: 1px solid rgb(39, 39, 39); */
    /* border: 1px solid rgb(190, 124, 0); */
    font-size: 12px;
    /* text-wrap: nowrap; */
    /* color:white; */
    /* background-color: rgb(86, 86, 86); */
    /* background: radial-gradient(rgb(204, 80, 3)20%,orange 40%,rgb(204, 80, 3)); */
    /* width: 300px; */
    /* height: 40px;    */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;     */
}
#conversionSpeed{
    /* margin-left: 10px; */
    /* border: 1px solid rgb(39, 39, 39); */
    /* border: 1px solid rgb(190, 124, 0); */
    font-size: 12px;
    /* text-wrap: nowrap; */
    /* color:white; */
    /* background-color: rgb(86, 86, 86); */
    /* background: radial-gradient(rgb(204, 80, 3)20%,orange 40%,rgb(204, 80, 3)); */
    /* width: 300px; */
    /* height: 40px;    */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;     */
    text-align: center;
}
#home{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#converter{
    /* position: absolute; */
    align-self: end;
    border: 1px solid black;
    /* border: 1px solid rgb(190, 124, 0); */
    font-size: 15px;
    text-wrap: nowrap;
    color:white;
    background-color: gray;
    /* background: radial-gradient(rgb(204, 80, 3)20%,orange 40%,rgb(204, 80, 3)); */
    width: 300px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#converter:hover{
    background-color: rgb(99, 99, 99);
}
#converter:active{
    background-color:rgb(84, 84, 84);
}
#contxt1{
    font-size: 40px;
}
#contxt2{
    font-size: 20px;
}
#energyb{
    /* position: absolute; */
    align-self: end;
    border: 1px solid black;
    /* border: 1px solid rgb(190, 124, 0); */
    font-size: 15px;
    text-wrap: nowrap;
    color:white;
    background-color: gray;
    /* background: radial-gradient(rgb(204, 80, 3)20%,orange 40%,rgb(204, 80, 3)); */
    width: 300px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#energyb:hover{
    background-color: rgb(99, 99, 99);
}
#energyb:active{
    background-color:rgb(84, 84, 84);
}
#enertxt1{
    font-size: 40px;
}
#enertxt2{
    font-size: 20px;
}
#moneyb{
    align-self: end;
    border: 1px solid black;
    /* border: 1px solid rgb(190, 124, 0); */
    font-size: 15px;
    text-wrap: nowrap;
    color:white;
    background-color: gray;
    /* background: radial-gradient(rgb(204, 80, 3)20%,orange 40%,rgb(204, 80, 3)); */
    width: 300px;
    height: 100px;
    border-radius: 0px 0px 0px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#moneyb:hover{
    background-color: rgb(99, 99, 99);
}
#moneyb:active{
    background-color:rgb(84, 84, 84);
}
#montxt1{
    font-size: 40px;
}
#montxt2{
    font-size: 20px;
}
#shop{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
}
